h1
{
    font-size: larger;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    background-color: rgb(102, 201, 31);
}
p
{
    color: rgb(155, 17, 24);
    font-size: large;
}